# Composer
/vendor/

# Environment
.env

# Writable folder
writable/cache/*
writable/logs/*
writable/session/*
writable/uploads/*
writable/debugbar/*

# Keep folders
!writable/cache/index.html
!writable/cache/.gitkeep
!writable/logs/index.html
!writable/logs/.gitkeep
!writable/session/index.html
!writable/session/.gitkeep
!writable/uploads/index.html
!writable/uploads/.gitkeep

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# database

app/Config/Database.php


# Composer lock (optional)
# composer.lock